.hero {
    width: 100%;
    height: 30vh;
    background-color: rgb(146, 146, 177);
}

.text {
    color:rgb(102, 130, 255);
    text-transform: uppercase;
    border: none;
    font-size: 1.3rem;
    background-color: white;
    padding: 0.5rem 0.9rem;
    margin:0.5rem;
    cursor: pointer;
}

.contained {
    color:white;
    text-transform: uppercase;
    border:0;
    padding: 0.5rem 0.9rem;
    font-size: 1.3rem;
    background-color: rgb(102, 130, 255);
    border-radius: 5px;
    margin:0.5rem;
    cursor: pointer;
}

.outlined{
    color:rgb(102, 130, 255);
    text-transform: uppercase;
    border:2px rgb(102, 130, 255) solid;
    padding: 0.5rem 0.9rem;
    font-size: 1.3rem;
    background-color: white;
    border-radius: 5px;
    margin:0.5rem;
    cursor: pointer;
}